.neetcontainer{
    display: grid;
    grid-template-columns: 400px 200px;
    /* grid-template-rows: 50% 0%; */
    gap: 30px 400px ;
    
    margin-left: 200px;
    margin-top: 50px;
   grid-template-areas: 
   "side div1"
      "side div2"
      "side div3"
      "side div4"
      "side div5"
      "side div6"
      "side div7"
      "side div8"
      
   ;


}

.sidebar{
    grid-area: side;
    background-color: rgb(232, 232, 226);
    height: auto;
    width: 700px;
    border-radius: 10px;
    padding: 40px;
   
}
.sidebar img{
   width: 610px;
}
.div1,.div2,.div3,.div4,.div5,.div6 {
    border-radius: 10px;
}

.div1{
    grid-area: div1;
    background-color: rgb(232, 232, 226);
    height: 130px;
    width: 450px;


    
}
.div1content{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;

}
.div1content input{
    width: 420px;
    padding: 14px;
    border: none;
    outline: none;
    
}
.div2{
    grid-area: div2;
    background-color: rgb(232, 232, 226);
    height: 400px;
    width: 400px;


}

.imgcontentneet{
    text-align: center;
    padding: 30px;
}

.div3{
    grid-area: div3;
    background-color: rgb(232, 232, 226);
    height: 400px;
    width: 400px;
}


.div4{
    grid-area: div4;
    background-color: rgb(232, 232, 226);
    height: 400px;
    width: 400px;

}

.div5{
    grid-area: div5;
    background-color: rgb(232, 232, 226);
     height: 400px;
    width: 400px;

}
.div6{
    grid-area: div6;
    background-color: rgb(232, 232, 226);
    height: 500px;
    width: 400px;

}
.formcontentdiv{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}
.formcontentdiv input{
    margin-top: 10px;
    padding:5px;margin-bottom: 10px;
    border: none;
    outline: none;
    
}
/* .formcontentdiv button{
  
    
} */
.imgcontentneet img{
    border-radius: 10px;
}
.div7{
    grid-area: div7;
    height: 500px;
    width: 400px;

}

.boxneet{
    background-color: #ac6aff;
    width: 610px;
    color: white;
    padding: 5px;
    height: auto;
    margin: 10px 0px;
    font-size: 40px;
}


.borderneet{
    margin: 30px 30px;
    margin-right: 50px;
}
.borderneet  li{
    list-style: none;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
border-radius: 5px;
    /* margin: 0px -30px; */
}


.textareaneet{
    padding: 15px;
    background-color: #cccace;
    border-radius: 10px;
}
.textareaneets{
    text-align: center;
}
.inputneete{
    width: 345px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 10px;
}
.inputneet{
    text-align: center;

}
.inputneet button{
    padding: 11px 10px;
    border: none;border-radius: 6px;
    outline: none;
    background-color: #ac6aff;

}
.textareaneets button{
    margin-top: 10px;
    padding: 17px 200px;
    background:#ac6aff;
    border: none;
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;

}
.mbneet{
 margin-bottom: 10px;
 margin-left: 17px;
}
.textareaneet h2,h3{
    margin-top: 10px;
    color: rgb(45, 43, 43);
}
.formdiv{
    margin-top: 10px;
    padding: 6px 60px;
    background:#ac6aff;
    border: none;
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;
}