.msgbox{
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: #008000;
    align-items: center;
    text-align: center;
    padding: 35px;
    position: relative;
    
}
.msgbtn{
    padding: 10px 55px;
    border-radius: 20px;
    border: none;
    margin-left: 17px;
    font-size: 13px
    ;font-weight: 500;

}
.msgtext{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}



.msgicon{
    position: absolute;
    right: 30px;
    border-radius: 10px;
    height: 18px;
    top:10px;
    border: none;
    color: white;
    text-align: center;
    font-size: 30px;
    /* margin-bottom: 10px; */
}